
body {
    padding-bottom: 70px;
}

.mako-panel {
    background-color: #f8f8f8;
    border-radius: 0;
    bottom: 50px;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
}

.mako-panel .panel-heading {
    border-radius: 0;
}

.mako-panel .panel-body {
    height: 250px;
}

.mako-navbar .navbar-brand {
    color: #a4a4a4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mako-navbar .navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mako-navbar .mako-repo-link {
    padding-top: 5px;
    padding-bottom: 5px;
}

.mako-navbar .navbar-brand:hover {
    color: #a4a4a4;
}

.mako-icon {
    background-color: transparent;
    background-image: url('/client/images/noun_6037_cc.png');
    background-size: 30px;
    background-position: center left;
    background-clip: padding-box;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    vertical-align: middle;
}

.mako-toolbar {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px;
    width: 100%;
}

.mako-edit {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px;
}

.mako-edit .mako-form .mako-toolbar {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.mako-edit .mako-form .form-group label {
    width: 100%;
}

.mako-md-editor {
    font-family: monospace;
    font-weight: 400;
}
